# Dependency directories
node_modules/

# Playwright test artifacts
/test-results/
/playwright-report/
/playwright/.cache/
/test-report/

# Operating System files
.DS_Store
Thumbs.db

# npm files
.npm
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example
